@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}

    <head>
      <title>
        
      </title>
    <link rel="stylesheet" type="text/css" href="~/css/about.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
    <section class="content-page">
        <section class="container-fluid">

            <section class="hero">
                <div class="container">
                    <div class="row">
                        <h1 class="text-head">Hello, there!!</h1>
                        <span class="text">
                            <h6>Welcome to Happy Student!! We are creative Professionals!</h6>
                        </span>
                    </div>
                </div>
            </section>

            <section class="mission">
                <div class="container">
                    <div class="row">
                        <h2 class="text-uppercase">Our Mission</h2>
                        <span class="text_body">
                            <p>Our mission is to deliver Simply Easy Learning with clear, crisp, 
                                and to-the-point content on a wide range of technical and non-technical 
                                subjects without any preconditions and impediments.
                                We have established a Digital Content Marketplace to sell Video Courses and eBooks 
                                at a very nominal cost. You will have to register with us to avail these premium services.
                                We are bunch of professionals from almost each corner of Bangladesh,
                                educated from different institues, with technical and non-technical
                                backgrounds, and with lot of other non commonalities but we have a
                                common thing which is that we all are striving hard to bring the
                                highest quality tutorials for our lovely readers.
                            </p>
                        </span>
                    </div>
                </div>
                </section>
        </section>
        </section>

    <!-- Start Team section-->

    <div class="container">

        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="title-heading">Meet Our Team</h2>
                <p class="subheading">Creative Members</p>
            </div>
        </div><br />

        <div class="row team-row">

            <div class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="~/image/taspia.jpg" alt="">
                        <div class="overlay">
                            <div class="team-details text-center">
                                <p>
                                    We are bunch of professionals from almost each corner of Bangladesh
                                </p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Taspia Anana</h6>
                    <span>Web Designer Lead</span>
                </div>
            </div>
            <!-- end team member -->

            <div class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="~/image/tamzeed.jpg" alt="">
                        <div class="overlay">
                            <div class="team-details text-center">
                                <p>
                                    We are bunch of professionals from almost each corner of Bangladesh
                                </p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Tamzeed Hossain</h6>
                    <span>Co-Founder</span>
                </div>
            </div>
            <!-- end team member -->

            <div class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img src="~/image/Youhana.jpg" alt="">
                        <div class="overlay">
                            <div class="team-details text-center">
                                <p>
                                    We are bunch of professionals from almost each corner of Bangladesh
                                </p>                            
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Youhana Ebnul</h6>
                    <span>Full Stack Developer</span>
                </div>
            </div>
            <!-- end team member -->

        </div>
    </div>

    </body>