@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Student</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css"/>
</head>
<body class="headcont">
   
    <!-- Start Header section-->

    <header class="headerhm">
        <div class="container header_container">
            <div class="header_left">
                <h1 class="hdh1">Grow your skill to advance your career path!</h1>
                <p class="ptext">We are specialsts in web development. Creativity and fun are our ingredients for awesome work.</p>
                
                <button type="button" class="btn btn-hmprimary btn-lg">Create Quiz!</button>
            </div>

            <div>
                <img src="https://ivy-school.thimpress.com/demo-3/wp-content/uploads/sites/5/2018/12/img-slider-03.png"
                     alt="education" height="350px" width="520px">
            </div>
        </div>
    </header>

    <!-- End Header section-->

    <!-- Start Categoroirs section-->

    <section class="categories">
        <div class="container categories_container">
            <div class="categories_left">
                <h1>Happy Student</h1>
                <p>
                    Over 2550 questions for you to practice. Come and join one of the largest tech communities 
                    with hundreds of thousands of active users and participate in our contests to challenge yourself 
                    and earn rewards.
                </p>
                <button type="button" class="btn btn-primary btn-lg">Learn More!</button>

            </div>

            <div class="categories_right">
                <article class="category_box">
                    <h5>Programming</h5>
                    <p>
                        Have a more complex design need or a project that starts in design and requires development?
                    </p>
                </article>

                <article class="category_box">
                    <h5>Web Development</h5>
                    <p>
                        Have a more complex design need or a project that starts in design and requires development?
                    </p>
                </article>

                <article class="category_box">
                    <h5>UI/UX Design</h5>
                    <p>
                        Have a more complex design need or a project that starts in design and requires development?
                    </p>
                </article>

                <article class="category_box">
                    <h5>SASS</h5>
                    <p>
                        Have a more complex design need or a project that starts in design and requires development?
                    </p>
                </article>

                <article class="category_box">
                    <h5>JSON</h5>
                    <p>
                        Have a more complex design need or a project that starts in design and requires development?
                    </p>
                </article>

                <article class="category_box">
                    <h5>ASP.Net</h5>
                    <p>
                        Have a more complex design need or a project that starts in design and requires development?
                    </p>
                </article>
            </div>

        </div>
    </section>

    <!-- End Categoroirs section-->

    <!-- Start Populer Courses section-->
    <section class="courses">
        <h2 class="course-h1">Our Populer Courses</h2>
        <div class="container courses_container">
            <article class="courses">
                <div class="course_image">
                    <img src="https://d3f1iyfxxz8i1e.cloudfront.net/courses/course_image_variant/477dedb87ab6_w480.webp" class="img-course">
                </div>
                <div class="course_info">
                    <h4>Responsive UI Design with figma.</h4>
                    <p>
                        Start learning now with Class Central’s Best Courses Guide (BCGs).
                        Using a well-defined methodology we pick the top courses in different topics,
                        helping you get started right away
                    </p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="courses">
                <div class="course_image">
                    <img src="https://d3f1iyfxxz8i1e.cloudfront.net/courses/course_image_variant/477dedb87ab6_w480.webp" class="img-course">
                </div>
                <div class="course_info">
                    <h4>Responsive UI Design with figma.</h4>
                    <p>
                        Start learning now with Class Central’s Best Courses Guide (BCGs).
                        Using a well-defined methodology we pick the top courses in different topics,
                        helping you get started right away
                    </p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="courses">
                <div class="course_image">
                    <img src="https://d3f1iyfxxz8i1e.cloudfront.net/courses/course_image_variant/477dedb87ab6_w480.webp" class="img-course">
                </div>
                <div class="course_info">
                    <h4>Responsive UI Design with figma.</h4>
                    <p>
                        Start learning now with Class Central’s Best Courses Guide (BCGs).
                        Using a well-defined methodology we pick the top courses in different topics,
                        helping you get started right away
                    </p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </article>
        </div>        
    </section>
    <br />
    <br />

    <!-- End Populer Courses section-->

    <!-- Start Action section-->
    <section>
    <div class="jumbotron">
        <div class="containeraction">
            <h1 class="headline">Ready. Set. Quiz.</h1>
            <p>Are you ready to make your cross-compatible Quiz? Create and get your answer now, <br /> so what are you waiting for?</p>
            <br>
            <p><a class="action-btn btn-primary btn-lg" href="#" role="button">Create Your Quiz</a></p>
        </div>
    </div>
    </section>
    <!-- End Action section-->


</body>
</html>